<div class="navbar">
    <div class="navbar-container">
      <div >
        <a class="navbar-logo" href="#">
          <img id="logo" src="assets/imagen/logo.jpeg" alt="" weight=80 height=80>
          </a>
      </div>
      <ul class="navbar-list">
        <li><a routerLink="/home">Inicio</a></li>
        <li><a href="">Eventos</a></li>
        <li><a href="">Noticias</a></li>
        <li><a href="">Puntos de Acopio</a></li>
        <li><a href="">Horarios</a></li>
      </ul>

      <div class="navbar-button">
        <a>IS</a>
      </div>
    </div>
  </div>
