<div class="navbar">
    <div class="navbar-container">
      <div >
        <a class="navbar-logo" href="#">
          <img id="logo" src="assets/imagen/logo.jpeg" alt="" weight=80 height=80>
          </a>
      </div>
<!--

  <ul class="navbar-list">
         <li><a routerLink="/home">Inicio</a></li>
         <li><a href="">Eventos</a></li>
         <li><a href="">Noticias</a></li>
         <li><a href="">Puntos de Acopio</a></li>
         <li><a href="">Horarios</a></li>
       </ul>
-->

      <div id="navbar">
        <button mat-button routerLink={{inicio}}>Inicio</button>
        <button mat-button routerLink={{eventos}}>Eventos</button>
        <button mat-button routerLink={{noticias}}>Noticias</button>
        <button mat-button routerLink={{puntoAcopio}}>Puntos de acopio</button>
        <button mat-button routerLink="">Horarios</button>
        <button class="Register" mat-raised-button color="primary"  routerLink="/register">Registrate</button>
        <button class="Session" mat-raised-button color="primary" routerLink="/login">Iniciar sesion</button>
      </div>

    </div>
  </div>

  <router-outlet></router-outlet>
