<div id="Component">
    <h1>Modulo de perfil</h1    >
</div>

<div class="Perfil-portada">
    <div class="Portada">
    </div>
    <div class="Perfil">
        <img src="assets/imagen/logo.jpeg" alt="nay imagen">
    </div>
    <br>
    <button> + Actualizar</button>
</div>
<div class="main">

    <div class="container1">
        <div class="Edit-info">
            <h1>Información Personal</h1>
            <button routerLink="/edit-profile">
                <img src="assets/imagen/pencil-square.svg" alt="" >
            </button>
        </div>
        <hr>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombres</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" disabled="true" name="Nombres" [(ngModel)]="Nombres">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Apellidos</label>
                    <input type="email" class="form-control" id="exampleFormControlInput2" disabled="true" name="Apellidos" [(ngModel)]="Apellidos">
        </div>
    
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput4" disabled="true" name="Correo" [(ngModel)] = "Correo">
        </div>
    
    </div>

    <div class="container2">
        <h1>Eventos</h1>
        <hr>
        <mat-card class="example-card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
              <p>This card indeterminates progress bar.</p>
              <p></p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

    </div>

    <div class="container3">
        <h1>Galeria - eventos</h1>
        <hr>
        <img src="" alt="">
    </div>

</div>