<div class="container-puntos">

    <h1>{{ acto }} Punto de Acopio</h1>
    
    <form>
      <div class="mb-3">
        <label for="distrito" class="form-label">Distrito</label>
        <input
          type="text"
          class="form-control"
          name="distrito"
          required
          [(ngModel)]="puntosMostrar.distrito"
        />
      </div>
    
      <div class="mb-3">
        <label for="direccion" class="form-label">Direccion</label>
        <input
          class="form-control"
          name="direccion"
          rows="3"
          required
          [(ngModel)]="puntosMostrar.direccion"
        />
      </div>
    
      <div class="mb-3">
        <label for="horario" class="form-label">Horario</label>
        <input
          type="text"
          class="form-control"
          name="horario"
          required
          [(ngModel)]="puntosMostrar.horario"
        />
      </div>
    
      <button [routerLink]="['/puntoAcopio']" class="btn btn-secondary" type="submit">
        Volver
      </button>
      <button *ngIf="accion" class="btn btn-aceptar float-end" type="submit">
        Aceptar
      </button>
      <button
        *ngIf="accion === false"
        (click)="editarPunto()"       
        class="btn btn-aceptar float-end"
        type="submit"
      >
        Guardar cambios
      </button>
    </form>
  </div>
  