<main class="Forms">

        <h1>Componente de modificación</h1>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombres</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" name="Nombres" [(ngModel)]="Nombres">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Apellidos</label>
                    <input type="email" class="form-control" id="exampleFormControlInput2" name="Apellidos" [(ngModel)]="Apellidos">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" >Correo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput4" name="Correo" [(ngModel)]="Correo">
        </div>
        <div class="buttons">

            <button class="btn1" (click)="RegresarPerfil()">Cancelar</button>
            <button class="btn2" (click)="ModificarInformacion()">Guardar</button>

        </div>

</main>
