
.Forms{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: inherit;
    margin: auto;
}

.Forms h1{
    background-color: #36B346;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.Forms .buttons .btn1{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
}

.Forms .buttons .btn2{
    background-color: #36B346;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
}