<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../login/login.component.css">
</head>

<body>

    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
        
        </div>

        <form class="formulario">
            <div class="texto-formulario">
                <h2>Bienvenido de nuevo</h2>
                <p>Inicia sesión con tu cuenta</p>
            </div>

            <div class="input">
                <label for="usuario">Usuario</label>
                <input placeholder="Ingresa tu usuario" type="text" id="usuario">
            </div>

            <div class="input">
                <label for="contraseña">Contraseña</label>
                <input placeholder="Ingresa tu contraseña" type="password" id="contraseña">
            </div>
            
            <div class="password-olvidada">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>

            <div class="input">
                <input type="submit" value="Iniciar sesión">
            </div>

            <div class="registrarme">
                No tengo cuenta, quiero <a href="" routerLink="/register">registrarme</a>
            </div>
        </form>
    </div> 
</body>

</html>


