*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: roboto,sans-serif;
}
.body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.container {
    width: 100%;
    max-width: 700px;
    background-color: #dedbdb;
    border-radius: 10px;
    padding: 25px 30px;
}
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #69da52;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box details {
    display: block;
    font-weight: 500 ;
    margin-bottom: 5px;
}
.user-details .input-box details{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}
body {  
    font: 13px Verdana, sans-serif;
  }
  label {
    display: block;
  }
  input {
    border: 1px solid #c4c4c4;
    background-color: #fff;  
    width: 95px;
  }
  
  .coc-block-row {
      width: 100%;
      /*display:table-row;*/
  }
  .coc-block {
      display: table-cell;
      vertical-align: middle;
      padding-bottom: 3px;
  }
  .coc-block-label {
    font-family: Verdana;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-bottom: 3px;
    padding-right: 5px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .coc-input {
    font-family: Calibri;
    height: 20px;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #999;
    /* variations */
  }
  .coc-form {
      padding-top: 5px;
      padding-left: 8px;
  }
form .button{
    height: 45px;
    margin: 45px 0;
} 
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    border:none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #36d93e, #96f889);
} 
form .button input:hover {
    background: linear-gradient(-135deg, #36d93e, #96f889);
  }