<!DOCTYPE html>
<body>
    <div class="container">
        <div class="title">Creación de Eventos</div>
        <form action="#">
            <div class="events">
                <div class="input-box">
                    <span class="details">Título</span>
                    <input type="text" placeholder="Ingresar título de evento" required>
                </div>
                <div class="input-box">
                    <span class="details">Descripción</span>
                    <input type="text" placeholder="Ingresar descripción del evento" required>
                </div>
                <div class="input-box">
                    <span class="details">Lugar</span>
                    <input type="text" placeholder="Ingresar el lugar del evento" required>
                </div>
                <div class="coc-form">
                    <div class="coc-block-row">
                      <label class="coc-block-label" for="dateofevent">Dia del evento</label>
                      <div class="coc-block">
                        <input class="coc-input" type="date" name="dateofevent" id="dateofevent">
                      </div>
                    </div>
                  </div>                    
                  <button class="button-88" role="button">Subir foto</button>     
                  <br>    
                  <div class="button" [routerLink]="['/eventos']">
                    <input type="submit" value="CANCELAR">
                    </div>
                    <div class="button" >
                        <input type="submit" value="GUARDAR CAMBIOS">
                        </div>
            </div>
        </form>
    </div>
</body>