<!DOCTYPE html>
<body>
  <div class="container">
    <div class="title">Creación de Eventos</div>
    <form action="#">
      <div class="events">
        <div class="input-box">
          <span class="details">Título</span>
          <input
            type="text"
            placeholder="Ingresar título de evento"
            name="titulo"
            [(ngModel)]="eventoMostrar.titulo"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Descripción</span>
          <input
            type="text"
            placeholder="Ingresar descripción del evento"
            name="descripcion"
            [(ngModel)]="eventoMostrar.descripcion"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Lugar</span>
          <input
            type="text"
            placeholder="Ingresar el lugar del evento"
            required
            name="lugar"
            [(ngModel)]="eventoMostrar.lugar"
          />
        </div>
        <div class="coc-form">
          <div class="coc-block-row">
            <label class="coc-block-label" for="dateofevent"
              >Dia del evento</label
            >
            <div class="coc-block">
              <input
                class="coc-input"
                type="date"
                id="dateofevent"
                name="fecha"
                [(ngModel)]="eventoMostrar.fecha"
              />
            </div>
          </div>
        </div>
        <button class="button-88" role="button">Subir foto</button>
        <br />
        <div class="button" [routerLink]="['/eventos']">
          <input type="submit" value="CANCELAR" />
        </div>
        <div class="button">
          <button (click)="editarEvento()">Guardar cambios</button>
        </div>
      </div>
    </form>
  </div>
</body>
