<h1> Agregar Noticia</h1>

<form>
    <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="titulo">
      </div>

      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3"></textarea>
      </div>

      
      <button [routerLink]="['/newslist']" class="btn btn-secondary" type="submit">Volver</button>
      <button *ngIf="accion" (click)="crearNoticia()" class="btn btn-aceptar float-end" type="submit">Aceptar</button>
</form>
